@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Welcome to Our Calculator</h1>
<br>
<p style="text-align:center">
    To use the calculator, construct a URL like the example below with an operation
    followed by two integers separated with a forward slash.
</p>
<p style="font-weight:bold; color:red; text-align:center">/calculator/add/35/86</p>