
@{
    ViewBag.Title = "Calculator Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Name Input</h2>

<form action="/Greeting" method="post">

    UserName :<input type="text" name="username" />

    <input type="submit" value="Submit" />

</form>

